<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QA Assignment">

<listeners>
		<listener class-name="com.qa.extentreports.ExtentReporter" />
	</listeners>

	<test name="QA Assignment TestCases">
		<classes>
			<class name="com.qa.test.LoginPageTest"></class>
			<class name="com.qa.test.HomePageTest"></class>
			<class name="com.qa.test.UsersPageTest"></class>
			<class name="com.qa.test.ApproveTimePageTest"></class>
			<class name="com.qa.test.ReportsPageTest"></class>
		</classes>
	</test>
</suite>